@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;
@use "@/styles/utils" as *;

.testimonials {
  padding: 1.5rem 1rem;
  box-sizing: border-box;

  @include mediaMin(tablet) {
    padding: 35px 3rem;
  }

  @include mediaMin(lg-desktop) {
    padding: 79px 6rem;
  }

  &__heading {
    font-weight: 600;
    font-size: clamp(2rem, 3vw, 60px);
    text-align: center;
    letter-spacing: 0.015em;
    color: $color-100;
    text-transform: capitalize;
    margin-bottom: 2rem;

    @include mediaMin(tablet) {
      margin-bottom: 95px;
    }
  }
}

.testimony__container {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 24px;
  gap: 1rem;

  @include mediaMin(desktop) {
    gap: 1.5rem;
  }

  @extend %custom-scrollbar;

  .testimony {
    padding: 2rem 1rem 1rem;
    gap: 2rem;
    width: 300px;
    min-height: 300px;
    background: #eff1f4;
    border-radius: 8px;
    border: inherit;
    box-sizing: border-box;

    &:nth-of-type(even) {
      background: #e4edfb;
    }

    @include mediaMin(desktop) {
      padding: 3rem 2.25rem 2.25rem;
      gap: 95px;
      width: 642px;
      height: 488px;
    }

    & > p {
      font-weight: 500;
      font-size: clamp(18px, 2.5vw, 22px);
      color: #000000;
      margin: 1.5rem 0;

      @include mediaMin(desktop) {
        margin: 70px 0;
        line-height: 27px;
      }
    }

    .name__img {
      @include flex;
      gap: 2rem;

      img {
        border-radius: 50%;
      }

      p {
        font-weight: 500;
        font-size: clamp(24px, 2.5vw, 28px);
        color: $color-100;
        text-transform: capitalize;
      }
    }
  }
}
