.base_padding_side {
  padding: 0px 6rem;
}

%custom-scrollbar {
  &::-webkit-scrollbar {
    height: 4px;
    border-radius: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb:hover {
    background: #bcb7b7;
  }
}
