@use "@/styles/mixins" as *;
// @use "@/styles/utils" as *;

.header {
  padding: 0 1rem;
  @include flex(center, space-between, row);
  box-sizing: border-box;
  // background-color: #ebecee;

  @include mediaMin(tablet) {
    padding: 0 3rem;
  }

  @include mediaMin(lg-desktop) {
    padding: 0 6rem;
  }
}

.nav {
  @include flex(center, flex-start, row);
  gap: 7.25rem;
  box-sizing: border-box;

  .nav_links {
    ul {
      list-style: none;
      @include flex(center, flex-start, row);
      gap: 2.125rem;
    }
  }

  .search__cta {
    @include flex(center, flex-start, row);
    gap: 2.9rem;
  }
}
