@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

%custom-scrollbar {
  &::-webkit-scrollbar {
    height: 4px;
    border-radius: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb:hover {
    background: #bcb7b7;
  }
}

.carousel {
  //   border: 1px solid black;

  & > .container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    gap: 1.5rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
    padding: 0 1rem 0.5rem;

    & > * {
      scroll-snap-align: start;
    }

    /* width */

    @extend %custom-scrollbar;
  }

  .image__container {
    width: 100%;
    max-width: 300px;
    min-height: 100px;

    @include mediaMin(tablet) {
      max-width: 400px;
      height: 300px;
    }

    @include mediaMin(sm-desktop) {
      max-width: 510px;
      height: 530px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
